*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 50% 15% 10% 10%;
}

header {
  margin: 0 auto;
  font-size: 3rem;
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.default-card {
  justify-self: center;
  align-self: center;
}
.card-default {
  width: 250px;
  height: 350px;
  border: solid;
  border-radius: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card {
  justify-self: center;
  align-self: center;
}
.card-user {
  width: 250px;
  height: 350px;
  border: solid;
  border-radius: 20px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greater {
  font-size: 20px;
  font-weight: bold;
  width: 10%;
  height: 50%;
  place-self: center;
  border-radius: 25px;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

.smaller {
  font-size: 20px;
  font-weight: bold;
  grid-row: 5;
  width: 10%;
  height: 50%;
  place-self: center;
  border-radius: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

.feedbackmessage {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-default-suit {
  font-size: 3rem;
}

.card-default-number {
  font-size: 3rem;
}

.card-user-suit {
  font-size: 3rem;
}

.card-user-number {
  font-size: 3rem;
}

.start-button {
  font-size: 20px;
  font-weight: bold;
  width: 10%;
  height: 50%;
  place-self: center;
  border-radius: 25px;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

.hidden {
  display: none;
}
