*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  margin: 0 auto;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.div-start-button {
  display: flex;
  justify-content: center;
}

.start-button {
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  place-self: center;
  padding: 15px;
}

section {
  display: flex;
  justify-content: space-evenly;
}

.default-card {
  justify-self: center;
  align-self: center;
}
.card-default {
  width: 250px;
  height: 350px;
  border: solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card {
  justify-self: center;
  align-self: center;
}
.card-user {
  width: 250px;
  height: 350px;
  border: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-section {
  display: grid;
  row-gap: 15px;
  padding: 20px;
}

.greater {
  font-size: 20px;
  font-weight: bold;
  place-self: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.smaller {
  font-size: 20px;
  font-weight: bold;
  place-self: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.feedbackmessage {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px;
}

.card-default-suit {
  font-size: 3rem;
}

.card-default-number {
  font-size: 3rem;
}

.card-user-suit {
  font-size: 3rem;
}

.card-user-number {
  font-size: 3rem;
}

.hidden {
  display: none;
}
